<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="APSEntities" connectionString="metadata=res://*/APSModel.csdl|res://*/APSModel.ssdl|res://*/APSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZNAKCOMP\SQLEXPRESS;initial catalog=AutoPartsStore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>